<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
    <meta charset="UTF-8"/>
</head>
<body>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Welcome！Hotel index page</h1>
    </div>
</div>



<div th:insert="~{footer :: copy}"></div>
</body>
</html>