/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    background-color: #050505;
    color: #f0f0f0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    /* Set the fixed height of the footer here */
    /*height: 90px;*/

}
.carousel{
    margin-bottom: 30px;
    margin-top: 10px;
}
.my-carousel-image {
    height: 500px;
}

.mainpage {
    margin: 20px 40px 10px 40px;
}

.bar {
    height: 18px;
    background: green;
}

.hotelType {
    height: 100px;
}

.cover {
    height: 320px;
    background-size: cover;
    background-position: center;
}

.caption p {
    height: 120px;
    overflow: hidden;
}

.carousel-cover {
    height: 100%;
    background-size: cover;
    background-position: center;

}